@import "tailwindcss";

:root {
  --font-heading: "Chronicle Display Roman", Georgia, serif;
  --font-subtext: "Gotham Book", "Helvetica Neue", Arial, sans-serif;
}

html {
  font-family: var(--font-subtext);
}

body {
  font-family: var(--font-subtext);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
